/*! ---------------------- GENERAL ----------------------*/
body {
    font-family: sans-serif;
}
/*! ----------------------- HEADER ----------------------*/
header {
    height: 100px;
}
/**NAVBAR*/
.firstNav {
    height: 35%;
}
header .navbar {
    height: 65%;
}
.login {
    border-radius: 20px;
}
.search {
    font-size: 22px;
}
/*! ---------------------- JUMBOTRON ---------------------*/
.myJumbotron {
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
}
.col-12.textJumbo a {
    background-color: orangered;
    border-radius: 20px;
    padding: 10px;
}
/*! -------------------------- MAIN -----------------------*/
/**SECTION GAME*/
.game .col-6 img {
    border-radius: 15px;
}
/**SECTION PLAYSTATION 5*/