/*! ---------------------- GENERAL ----------------------*/
body {
    font-family: sans-serif;
}
/*! --------------------- UTILITIES ---------------------*/
.borRad {
    border-radius: 20px;
}
.bckOrange {
    background-color: orangered;
}
/*! ----------------------- HEADER ----------------------*/
header {
    height: 100px;
    z-index: 1;
}
/**NAVBAR*/
.firstNav {
    height: 35%;
}
header .navbar {
    height: 65%;
}
.search {
    font-size: 22px;
}
/*! --------------------- JUMBOTRON ---------------------*/
.myJumbotron {
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
}
.col-12.textJumbo a {
    padding: 10px;
}
/*! ------------------------- MAIN -----------------------*/
/**SECTION PLAYSTATION 5*/
.ps5 .col-12 p {
    font-size: 17px;
}
.infoBlu{
    max-width: 220px;
}
/**SECTION TAKES TWO*/
.takesTwo {
    height: 600px;
    background-image:url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/**SECTION ESPLORA PLAYSTATION 4*/
.esploraPs4,.esploraPs4 div {
    border: 2px dased red;
}
